html{
    width: 100%;
}

body{
    margin: 0;
    height: 100vh;
    width: 100%;
}

h2,h3,h4,p{
    margin:0;
}

.lilita-font{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-font{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.satoshi-font{
    font-family: "Satoshi Medium";
    font-weight: 500;
}

.sign-up{
    width:100%;
    height: 38px;
    margin-top: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 14px;
    align-content: center;
    position: relative;
}

.sign-up a{
    color: white;
}

.sign-up p span{
    position: absolute;
    top:13px;
    right: 100px;
}

.home-title{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 33.45px;
    text-decoration: none;
    color: black;
    margin-left: 100px;
}

.my-header{
    width:100%;
    height: 96px;
    display: flex;
    align-items: center;
}

.my-header .burger-menu{
    display: none;
}

.my-header .burger-menu span{
    width: 18.75px;
    height: 2px;
    background-color: #000;
}

.my-nav{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.my-nav ul{
    font-size: 16px;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.my-nav ul li{
    display: flex;
    align-items: center;
}

.my-nav ul a{
    text-decoration: none;
    color: #000;
    white-space: nowrap;
}

.search-bar{
    position: relative;
    width: 598px;
    margin-left: 20px;
}

.search-bar span{
    position: absolute;
    display: block;
    bottom: .6rem;
    left: 4.2rem;
    opacity: 0.4;
}

.input-search{
    font-size: 16px;
    width: 496px;
    height: 48px;
    border-style: none;
    outline: none;
    background-color: #F0F0F0;
    border-radius: 62px;
    padding-left: 3.2rem;
    margin-left: 50px;
    color: rgba(0,0,0,0.4);
}

.input-search input{
    padding-left: 3rem;
    margin-left: 50px;
}

.my-header article{
    display: flex;
    margin-left: 40px;
    gap:14px;
    width: 100%;
    margin-right: 100px;
    justify-content: flex-end;
}

.my-header article .search{
    display: none;
}

main{
    padding: 0 100px;
}

.sub-menu{
    width:100%;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 20px 0;
    box-sizing: border-box;
}

.sub-menu span{
    display: flex;
    width: 11.5px;
    margin: 1px;
}

.sub-menu span img{
    width: 100%;
    height: 11.5px;
    display: flex;
    align-items: end;
    
}

.sub-menu .ubuntu-font{
    color: rgba(0,0,0,0.6);
}

.your-cart{
    width: 100%;
    gap:20px;
    display: flex;
    flex-direction: column;
}

.your-cart h2{
    font-size: 40px;
}

.your-cart .summary{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap:20px
}

.summary .products-summary{
    width: 55%;
    display: flex;
    flex-direction: column;
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 20px 24px;
    box-sizing: border-box;
    gap:24px;
}

.products-summary .product{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 20px;
    width: 100%;
}

.product .card{
    width:20%;
    aspect-ratio: 1;
    background-color: #F0EEED;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;
}

.product .prod-act{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.products-summary .product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-info h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.your-cart .summary h3{
    font-size: 24px;
    display: flex;
}

.product-info .product-specs{
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.product .actions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-end;
}

.product .actions .quant{
    display: flex;
    width: 170px;
    justify-content: space-around;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 62px;
}

.actions span{
    display: flex;
    height: 52px;
    align-items: center;
}

.your-cart .summary .order-summary{
    width: 45%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px 24px;
    box-sizing: border-box;
    gap: 24px;
}

.order-summary .ciphers{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-summary .ciphers p{
    font-size: 20px;
}

.ciphers article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ciphers .discount .lilita-font{
    color: red;
}

.ciphers .total .lilita-font{
    font-size: 24px;
}

.separator{
    height: 1px;
}

.order-summary .buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-summary .promo-code{
    width: 100%;
    position: relative;
    display: flex;
    gap: 12px;
}

.order-summary .promo{
    font-size: 16px;
    width: 71%;
    height: 48px;
    border-style: none;
    outline: none;
    background-color: #F0F0F0;
    border-radius: 62px;
    padding-left: 3.2rem;
    color: rgba(0, 0, 0, 0.4);
}

.promo-code span{
    position: absolute;
    display: block;
    bottom: .6rem;
    left: 1.2rem;
    opacity: 0.4;
}

.order-summary .apply{
    width: 29%;
    background-color: #000;
    border-radius: 62px;
    font-size: 14px;
    color:#FFFF;
}

.order-summary .checkout{
    width: 100%;
    background-color: #000;
    border-radius: 62px;
    font-size: 14px;
    color:#FFFF;
    padding: 20px 24px;
    box-sizing: border-box;
    align-items: center;
}














.banner{
    height: 180px;
    width: 1240px;
    background-color: #000;
    border-radius: 20px;
    justify-self: center;
    padding: 36px 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    top:90px;
}

.banner h2{
    font-size: 40px;
    color: #FFFF;
    width: 551px;
}

.suscription{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:12px;
}

.suscription span{
    position: absolute;
    display: block;
    bottom: 4.4rem;
    left: 1.2rem;
}

.email{
    font-size: 16px;
    width: 349px;
    height: 46px;
    border-style: none;
    outline: none;
    background-color: #F0F0F0;
    border-radius: 62px;
    padding-left: 3.2rem;
    color: rgba(0,0,0,0.4);
    box-sizing: border-box;
}

.subscribe{
    height: 46px;
    width:349px;
    border-radius:62px;
    border-style: none;
}

footer{
    height: 499px;
    background-color:#F0F0F0 ;
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    box-sizing: border-box;
}

footer .my-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .store{
    display: flex;
    flex-direction: column;
    width: 248px;
    margin-left: 100px;
    gap: 35px;
}

.store h2{
    font-size: 33.45px;
}

footer .store p{
    font-size: 14px;
    color: rgba(0,0,0,0.6);
}

.store .social{
    display: flex;
    flex-direction: row;
    width: 148px;
    justify-content: space-between;
}

.social button{
    width: 28px;
    height: 28px;
    border-style:none;
    background-color: #FFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social button:nth-child(2){
    background-color: #000;
}

footer .details{
    display: flex;
    flex-direction: column;
    gap:26px;
}

footer .details:last-child{
    margin-right: 100px;
}

footer .details ul{
    list-style: none;
    padding-left: 0;
    color: rgba(0,0,0,0.6);
}

footer .details li{
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 26px;
    
}

.details h3{
    color: rgba(0,0,0);
}

footer .separator{
    margin-left: 100px;
}

footer .final{
    margin-left: 100px;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-between;
    width: 1240px;
    align-items: center;
    margin-top: 20px;
}

.final .payment{
    display: flex;
    flex-direction: row;
    gap:12px;
}

.payment span{
    display: flex;
    width: 46.61px;
    height: 30.03px;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    border-radius: 5.38px;
    border: 0.22px;
    border-color: #D6DCE5;
}

.payment span img:first-child{
    width:30px;
}

@media (max-width:768px){

    .sign-up{
        height: 34px;
        font-size: 12px;
    }

    .sign-up p span{
        display: none;
    }

    .home-title{
        font-family: "Lilita One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 25.2px;
        margin-left: 20px;
    }

    .my-header .burger-menu{
        width: 36px;
        height: 60px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;
    }

    .my-header{
        padding-left: 20px;
        height: 64px;
        display: flex;
        width:80%;
        align-items: center;
    }

    .my-nav{
        display: none;
    }

    .search-bar{
        display: none;
    }

    .my-header article .search{
        display: block;
        margin-left: 40px;
    }







    .banner{
        height: 293px;
        width: 358px;
        justify-self: center;
        padding: 32px 24px;
        flex-direction: column;
        top:146px;
        margin: 0 16px;
    }

    .banner h2{
        font-size: 32px;
        width: 297px;
    }

    .suscription span{
        bottom: 4.0rem;
    }

    .email{
        font-size: 14px;
        width: 311px;
        height: 42px;
    }

    .subscribe{
        height:42px;
        width:311px;
    }

    footer{
        width: 100%;
        height: 886px;
        padding: 166px 16px 16px 16px;
    }

    footer .my-footer{
        flex-wrap: wrap;
        justify-content: space-between;
        gap:20px;
    }

    footer .store{
        width: 357px;
        margin-left: 0;
        gap: 10px;
    }

    .store h2{
        font-size: 28.85px;
    }

    footer .details{
        gap:16px;
        font-size: 14px;
    }

    footer .details:last-child{
        margin-right: 0px;
    }

    footer .details li{
        padding-bottom: 16px;
    }

    footer .separator{
        margin-left: 0px;
    }

    footer .final{
        margin-left: 0px;
        flex-direction: column;
        width:358px;
        gap:10px;
    }

    .final .payment{
        gap:10.29px;
        margin-bottom: 40px;
    }

    .payment span{
        width: 39.96px;
        height: 25.74px;
        border-radius: 4.61px;
        border: 0.19px;
    }

    .payment span img:first-child{
        width:26px;
    }

}