html{
    width: 100%;
}

body{
    margin: 0;
    height: 100vh;
    width: 100%;
}

.lilita-font{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-font{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.satoshi-font{
    font-family: "Satoshi Medium";
    font-weight: 500;
}

.sign-up{
    width:100%;
    height: 38px;
    margin-top: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 14px;
    align-content: center;
    position: relative;
}

.sign-up p{
    margin: 0;
}

.sign-up a{
    color: white;
}

.sign-up p span{
    position: absolute;
    top:13px;
    right: 100px;
}

.home-title{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 33.45px;
    text-decoration: none;
    color: black;
    margin-left: 100px;
}

.my-header{
    width:100%;
    height: 96px;
    display: flex;
    align-items: center;
}

.my-header .burger-menu{
    display: none;
}

.my-header .burger-menu span{
    width: 18.75px;
    height: 2px;
    background-color: #000;
}

.my-nav{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.my-nav ul{
    font-size: 16px;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.my-nav ul li{
    display: flex;
    align-items: center;
}

.my-nav ul a{
    text-decoration: none;
    color: #000;
    white-space: nowrap;
}

.search-bar{
    position: relative;
    width: 598px;
    margin-left: 20px;
}

.search-bar span{
    position: absolute;
    display: block;
    bottom: .6rem;
    left: 4.2rem;
    opacity: 0.4;
}

.input-search{
    font-size: 16px;
    width: 496px;
    height: 48px;
    border-style: none;
    outline: none;
    background-color: #F0F0F0;
    border-radius: 62px;
    padding-left: 3.2rem;
    margin-left: 50px;
    color: rgba(0,0,0,0.4);
}

.input-search input{
    padding-left: 3rem;
    margin-left: 50px;
}

.my-header article{
    display: flex;
    margin-left: 40px;
    gap:14px;
    width: 100%;
    margin-right: 100px;
    justify-content: flex-end;
}

.my-header article .search{
    display: none;
}

main .separator{
    padding-left: 100px;
}

.sub-menu{
    width:100%;
    padding-left: 100px;
    display: flex;
    align-items: center;
    gap: 12px;
    box-sizing: border-box;
}

.sub-menu span{
    display: flex;
    width: 11.5px;
    margin: 1px;
}

.sub-menu span img{
    width: 100%;
    height: 11.5px;
    display: flex;
    align-items: end;
    
}

.product-visual{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:16px 100px;
    box-sizing: border-box;
    height: 530px;
}

.product-visual .pict-grid{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    gap:12px;
}

.pict-grid .pict-columns{
    width: 152px;
    display: flex;
    flex-direction: column;
    gap:13px;
}

.pict-columns .pict{
    background-color: #F0EEED;
    border-radius: 20px;
    overflow: hidden;
    height: 168px;
    width:152px;
}
.main-pict .pict{
    background-color: #F0EEED;
    border-radius: 20px;
    overflow: hidden;
    height: 530px;
    width: 444px;
}

.pict img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-visual .product-details{
    width: 100%;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-visual .product-details .product-info{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.product-details .lilita-font{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.product-details .stars{
    display: flex;
    flex-direction: row;
    height: 17px;
    gap:7px;
    align-items: center;
}

.product-details .stars span{
    box-sizing: border-box;
    height: 18px;
}

.product-details .stars p{
    font-size: 16px;
    margin: 0 10px;
}

.product-details .stars img{
    width:24.71px;
    height:24.71px;;
}

.product-details .ubuntu-font{
    font-size: 16px;
    color: rgba(0,0,0,0.6);
}

.product-info  .stars img:last-of-type{
    width:11.75px;
    height:24.71px;
}

.product-info p{
    margin-top: 0;
}

.product-details .product-info h3{
    font-size: 32px;
    margin-top:10px;
    display: flex;
    margin-bottom: 0px;
}

.product-details .product-info h3 span{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-details .product-info .discount{
    font-size: 16px;
    width: 72px;
    height: 34px;
    background-color: rgba(255, 51, 51,0.1);
    color: #FF3333;
    border-radius: 62px;
}

.discount p{
    margin: 0;
}

.product-details .separator{
    padding-left: 0;
    width:100%;
}

.prod-specs .colors{
    display: flex;
    gap:16px;
    width:143px;
    height: 37px;
}

.prod-specs .colors .color:first-child{
    width: 37px;
    height: 37px;
    background-color: #4F4631;
    border-radius: 50%;
}

.prod-specs .colors .color:nth-child(2){
    width: 37px;
    height: 37px;
    background-color: #314F4A;
    border-radius: 50%;
}

.prod-specs .colors .color:last-child{
    width: 37px;
    height: 37px;
    background-color: #31344F;
    border-radius: 50%;
}

.prod-specs .sizes{
    width: 425px;
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.sizes span{
    padding: 12px 24px;
    background-color: #F0F0F0;
    border-radius: 62px;
    height: 42px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.prod-specs .cart{
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.prod-specs .cart .quant{
    display: flex;
    width: 170px;
    justify-content: space-around;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 62px;
}

.cart span{
    display: flex;
    height: 52px;
    align-items: center;
}

.cart .add{
    width: 400px;
    background-color: #000;
    color: #FFFF;
    border-radius: 62px;
    display: flex;
    justify-content: center;
}

.options-panel{
    display: flex;
    width: 100%;
    padding: 16px 100px;
    box-sizing: border-box;
    margin-top: 40px;
}

.options-panel button{
    width:100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgba(0,0,0,0.6);
    background-color: #FFFF;
    font-size: 20px;
}

.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    align-items: center;
}

.reviews header{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reviews header h3{
    font-size: 24px;
    display: flex;
    margin: 15px 0;
    width: 160px;
    justify-content: space-between;
    align-items: center;
}

.reviews h3 p{
    font-size: 16px;
    margin: 0;
}

.reviews .options{
    display: flex;
    flex-direction: row;
    width: 354px;
    justify-content: space-between;
    align-items: center;
}

.options .filter{
    border-style: none;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #F0F0F0;
}

.options .latest{
    width: 120px;
    height: 48px;
    border-radius: 62px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    box-sizing: border-box;
}

.options .write-rev{
    width: 166px;
    height: 48px;
    border-radius: 62px;
    background-color: #000;
    color: #FFFF;
    border-style: none;
}

.reviews .opinions-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    box-sizing: border-box;
    margin: 16px 0 32px 0;
}

.reviews .opinions-grid .opinion{
    box-sizing: border-box;
    border: solid 1px;
    border-color: rgba(0,0,0,0.1);
    border-radius: 20px;
    padding:28px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.opinion .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opinion .satoshi-font{
    margin-bottom: 0px;
}

.comment h3{
    font-size: 20px;
}

.button-load{
    font-size: 16px;
    width: 230px;
    height: 52px;
    border-color: rgba(0,0,0,0.1);
    background-color: #FFFF;
    border-radius: 62px;
}

.button-load p{
    margin: 0;
}

.products{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.products h1{
    font-size: 48px;
    margin: 70px;
}

.products .clothes-cards{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.products .card{
    width:295px;
    height: 298px;
    background-color: #F0EEED;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    padding:10px
}

.card .product-img{
    display: flex;
    margin-top: -73px
}

.opinion .stars{
    display: flex;
    flex-direction: row;
    height: 17px;
    gap:7px;
    align-items: center;
}

.opinion .stars span{
    box-sizing: border-box;
    height: 17px;
}

.opinion .stars p{
    font-size: 14px;
    margin: 0 10px;
}

.opinion .product-info h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.opinion .product-info h3{
    font-size: 24px;
    margin-top:10px;
    display: flex;
}

.opinion .product-info h3 span{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opinion .product-info .discount{
    font-size: 12px;
    width: 58px;
    height: 28px;
    background-color: rgba(255, 51, 51,0.1);
    color: #FF3333;
    border-radius: 62px;
}

.discount p{
    margin: 0;
}

.banner{
    height: 180px;
    width: 1240px;
    background-color: #000;
    border-radius: 20px;
    justify-self: center;
    padding: 36px 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    top:90px;
}

.banner h2{
    font-size: 40px;
    color: #FFFF;
    width: 551px;
    margin: 0;
}

.suscription{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:12px;
}

.suscription span{
    position: absolute;
    display: block;
    bottom: 4.4rem;
    left: 1.2rem;
}

.email{
    font-size: 16px;
    width: 349px;
    height: 46px;
    border-style: none;
    outline: none;
    background-color: #F0F0F0;
    border-radius: 62px;
    padding-left: 3.2rem;
    color: rgba(0,0,0,0.4);
    box-sizing: border-box;
}

.subscribe{
    height: 46px;
    width:349px;
    border-radius:62px;
    border-style: none;
}

footer{
    height: 499px;
    background-color:#F0F0F0 ;
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    box-sizing: border-box;
}

footer .my-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .store{
    display: flex;
    flex-direction: column;
    width: 248px;
    margin-left: 100px;
    gap: 35px;
}

.store h2{
    font-size: 33.45px;
    margin: 0;
}

footer .store p{
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    margin: 0;
}

.store .social{
    display: flex;
    flex-direction: row;
    width: 148px;
    justify-content: space-between;
}

.social button{
    width: 28px;
    height: 28px;
    border-style:none;
    background-color: #FFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social button:nth-child(2){
    background-color: #000;
}

footer .details{
    display: flex;
    flex-direction: column;
    gap:26px;
}

footer .details:last-child{
    margin-right: 100px;
}

footer .details ul{
    list-style: none;
    padding-left: 0;
    color: rgba(0,0,0,0.6);
}

footer .details li{
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 26px;
    
}

.details h3{
    margin: 0;
    color: rgba(0,0,0);
}

footer .separator{
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
}

footer .final{
    margin-left: 100px;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-between;
    width: 1240px;
    align-items: center;
    margin-top: 20px;
}

.final .payment{
    display: flex;
    flex-direction: row;
    gap:12px;
}

.payment span{
    display: flex;
    width: 46.61px;
    height: 30.03px;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    border-radius: 5.38px;
    border: 0.22px;
    border-color: #D6DCE5;
}

.payment span img:first-child{
    width:30px;
}

@media (max-width:768px){

    .sign-up{
        height: 34px;
        font-size: 12px;
    }

    .sign-up p span{
        display: none;
    }

    .home-title{
        font-family: "Lilita One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 25.2px;
        margin-left: 20px;
    }

    .my-header .burger-menu{
        width: 36px;
        height: 60px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;
    }

    .my-header{
        padding-left: 20px;
        height: 64px;
        display: flex;
        width:80%;
        align-items: center;
    }

    .my-nav{
        display: none;
    }

    .search-bar{
        display: none;
    }

    .my-header article .search{
        display: block;
        margin-left: 40px;
    }







    .banner{
        height: 293px;
        width: 358px;
        justify-self: center;
        padding: 32px 24px;
        flex-direction: column;
        top:146px;
        margin: 0 16px;
    }

    .banner h2{
        font-size: 32px;
        width: 297px;
    }

    .suscription span{
        bottom: 4.0rem;
    }

    .email{
        font-size: 14px;
        width: 311px;
        height: 42px;
    }

    .subscribe{
        height:42px;
        width:311px;
    }

    footer{
        width: 100%;
        height: 886px;
        padding: 166px 16px 16px 16px;
    }

    footer .my-footer{
        flex-wrap: wrap;
        justify-content: space-between;
        gap:20px;
    }

    footer .store{
        width: 357px;
        margin-left: 0;
        gap: 10px;
    }

    .store h2{
        font-size: 28.85px;
    }

    footer .details{
        gap:16px;
        font-size: 14px;
    }

    footer .details:last-child{
        margin-right: 0px;
    }

    footer .details li{
        padding-bottom: 16px;
    }

    footer .separator{
        margin-left: 0px;
    }

    footer .final{
        margin-left: 0px;
        flex-direction: column;
        width:358px;
        gap:10px;
    }

    .final .payment{
        gap:10.29px;
        margin-bottom: 40px;
    }

    .payment span{
        width: 39.96px;
        height: 25.74px;
        border-radius: 4.61px;
        border: 0.19px;
    }

    .payment span img:first-child{
        width:26px;
    }

}