body{
    margin: 0;
}
.lilita-font {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sign-up{
    width:100%;
    height: 38px;
    margin-top: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 14px;
    align-content: center;

}

.sign-up p{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.sign-up a{
    font-family: "Satoshi Medium";
    font-weight: 500;
    color: white;
}

.home-title{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 33.45px;
    text-decoration: none;
    color: black;
    margin-left: 100px;
}

.my-header{
    width:100%;
    height: 88px;
    display: flex;
    align-items: center;
}

.my-header .burger-menu{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    display: none;

}

.my-header .burger-menu span{
    width: 30px;
    height: 4px;
    background-color: #000;
    
}

.my-nav{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.my-nav ul{
    font-size: 16px;
    list-style-type:none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.search-bar{
    margin-left: 24px;
    width: 548px;
}

@media (max-width:768px){
    .my-header .burger-menu{
    width: 50px;
    height: 60px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    
    justify-content: center;
}
    .my-header{
        width:100%;
        padding-left: 32px;
        height: 88px;
        display: flex;
        align-items: center;
    }
    .my-nav{
        display: none;
    }

    .home-title{
        margin-left: 0;
    }

    .search-bar{
        display: none;
    }
}