body{
    margin: 0;
}
.lilita-font {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sign-up{
    width:100%;
    height: 38px;
    margin-top: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 14px;
    align-content: center;
}

.sign-up p{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.sign-up a{
    font-family: "Satoshi Medium";
    font-weight: 500;
    color: white;
}

.home-title{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 33.45px;
    text-decoration: none;
    color: black;
    margin-left: 100px;
}

.my-header{
    width:100%;
    height: 96px;
    display: flex;
    align-items: center;
}

.my-header .burger-menu{
    display: none;

}

.my-header .burger-menu span{
    width: 18.75px;
    height: 2px;
    background-color: #000;
}

.my-nav{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.my-nav ul{
    font-size: 16px;
    list-style-type:none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.search-bar{
    position: relative;
    width: 598px;
}

.search-bar span{
    position: absolute;
    display: block;
    bottom: .6rem;
    left: 4.2rem;
    opacity: 0.4;
}

.input-search{
    width: 496px;
    height: 48px;
    border-style: none;
    outline: none;
    background-color: #F0F0F0;
    border-radius: 62px;
    padding-left: 3.2rem;
    margin-left: 50px;
    color: rgba(0,0,0,0.4);
}

.input-search input{
    padding-left: 3rem;
    margin-left: 50px;
}

.my-header article{
    display: flex;
    margin-left: 40px;
    gap:14px;
    width: 100%;
}

.my-header article .search{
    display: none;
}

.graphic-header{
    height: 663px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f2f0f1;
    justify-content: space-around;
    overflow-y: hidden;
}

.graphic-header h1{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    padding-top: 18px;
    margin-bottom: 0;
}

.graphic-header p{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    opacity: 0.6;
}

.graphic-header .paragraph{
    width: 545px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    opacity: 0.6;
}

.text button{
    border-style: none ;
    width:210px;
    height: 52px;
    font-family: "Satoshi Medium";
    font-weight: 500;
    color: white;
    font-size: 16px;
    border-radius: 62px;
    background-color: #000;
    margin-top: 20px;
}

.text span{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.numbers{
    display: flex;
    margin-top: 48px;
    gap: 32px;
}

.graphic-header .couple-img{
    scale:2.4;
    margin-top: 270px;
    margin-right: 150px;
}

.graphic-header .small-deco{
    top: 431px;
    left:730px;
    position: absolute;
    z-index: 3;
}

.small-deco img{
    width: 56px;
}

.graphic-header .deco{
    top: 220px;
    left:1255px;
    position: absolute;
    z-index: 3;
}

.brands{
    background-color: #000;
    height: 122px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:106px;
    justify-content: center;
    align-items: center;
}

@media (max-width:768px){

    .sign-up{
        height: 34px;
        font-size: 12px;
    }

    .home-title{
        font-family: "Lilita One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 25.2px;
        margin-left: 20px;
    }

    .my-header .burger-menu{
        width: 36px;
        height: 60px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;
    }

    .my-header{
        padding-left: 20px;
        height: 64px;
        display: flex;
        width:80%;
        align-items: center;
    }

    .my-nav{
        display: none;
    }

    .search-bar{
        display: none;
    }

    .my-header article .search{
        display: block;
        margin-left: 40px;
    }

    .graphic-header{
        width: 390px;
        padding: 16px;
        flex-direction: column;
        height: 853px;
        position: relative;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .graphic-header .text{
        z-index: 2;
    }

    .graphic-header h1{
        font-size: 36px;
        margin-top: 0;
        padding-top: 16px;
        margin-bottom: 5px;
        line-height: 34px;
    }

    .graphic-header .paragraph{
        width: 358px;
        line-height: 20px;
        font-size: 14px;
        margin-top: 12px;
    }

    .graphic-header p{
        margin-top: 0px;
    }

    .text button{
        width:358px;
        margin-top: 10px;
        box-sizing: border-box;
        padding: auto;
    }

    .text span{
        font-size: 24px;
    }

    .numbers{
        display: flex;
        flex-wrap: wrap;
        column-gap:20px;
        row-gap: 5px;
        justify-content: center;
        margin-top: 25px;
    }

    .numbers p{
        font-size: 12px;
    }

    .numbers .line1 img{
        height: 52px;
    }

    .numbers .line2{
        display: none;
    }

    .graphic-header .couple-img{
        margin-top: 35px;
        margin-right: 0px;
        scale:1.3;
    }  
    
    .couple-img{
        max-width: 390px;
    }

    .graphic-header .small-deco{
        top: 535px;
        left:24px;
        scale: 0.7858;
        z-index: 3;
    }

    .graphic-header .deco{
        top: 431px;
        left: 281px;
        scale: 0.7308;
        z-index: 3;
    }

    .brands{
        height: 146px;
        flex-wrap: wrap;
        gap:10px;
        row-gap: 1px;
        justify-content: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .brands span{
        display: flex;
        max-width: 33%;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 1px;
    }

    .brands span:nth-child(4){
        min-width: 150px;

    }
    .brands span:nth-child(5){
        min-width: 160px;
    }


    .brands img{
        scale: 0.7;
        
    }


}