body{
    margin: 0;
}
.lilita-font {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sign-up{
    width:100%;
    height: 38px;
    margin-top: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 14px;
    align-content: center;

}

.sign-up p{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.sign-up a{
    font-family: "Satoshi Medium";
    font-weight: 500;
    color: white;
}

.home-title{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 33.45px;
    text-decoration: none;
    color: black;
    margin-left: 100px;
}

.my-header{
    width:100%;
    height: 88px;
    display: flex;
    align-items: center;
}

.my-header .burger-menu{
    display: none;

}

.my-header .burger-menu span{
    width: 18.75px;
    height: 2px;
    background-color: #000;
}

.my-nav{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.my-nav ul{
    font-size: 16px;
    list-style-type:none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.search-bar{
    position: relative;
    width: 598px;
}

.search-bar span{
    position: absolute;
    display: block;
    bottom: .6rem;
    left: 4.2rem;
    opacity: 0.4;
}

.input-search{
    width: 496px;
    height: 48px;
    border-style: none;
    outline: none;
    background-color: #F0F0F0;
    border-radius: 62px;
    padding-left: 3.2rem;
    margin-left: 50px;
    color: rgba(0,0,0,0.4);
}

.input-search input{
    padding-left: 3rem;
    margin-left: 50px;
}

.my-header article{
    display: flex;
    margin-left: 40px;
    gap:14px
}

.my-header article .search{
    display: none;
}


@media (max-width:768px){

    .home-title{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25.2px;
    margin-left: 0;
    }

    .my-header .burger-menu{
    width: 36px;
    height: 60px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    }

    .my-header{
        width:100%;
        padding-left: 20px;
        height: 88px;
        display: flex;
        align-items: center;
    }

    .my-nav{
        display: none;
    }


    .search-bar{
        display: none;
    }

    .my-header article .search{
        display: block;
    }
}