body{
    margin: 0;
    height: 100vh;
}

.lilita-font{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-font{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.satoshi-font{
    font-family: "Satoshi Medium";
    font-weight: 500;
}

.sign-up{
    width:100%;
    height: 38px;
    margin-top: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 14px;
    align-content: center;
}

.sign-up p{
    margin: 0;
}

.sign-up a{
    color: white;
}

.home-title{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 33.45px;
    text-decoration: none;
    color: black;
    margin-left: 100px;
}

.my-header{
    width:100%;
    height: 96px;
    display: flex;
    align-items: center;
}

.my-header .burger-menu{
    display: none;
}

.my-header .burger-menu span{
    width: 18.75px;
    height: 2px;
    background-color: #000;
}

.my-nav{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.my-nav ul{
    font-size: 16px;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.my-nav ul li{
    display: flex;
    align-items: center;
}

.my-nav ul a{
    text-decoration: none;
    color: #000;
    white-space: nowrap;
}

.search-bar{
    position: relative;
    width: 598px;
    margin-left: 20px;
}

.search-bar span{
    position: absolute;
    display: block;
    bottom: .6rem;
    left: 4.2rem;
    opacity: 0.4;
}

.input-search{
    font-size: 16px;
    width: 496px;
    height: 48px;
    border-style: none;
    outline: none;
    background-color: #F0F0F0;
    border-radius: 62px;
    padding-left: 3.2rem;
    margin-left: 50px;
    color: rgba(0,0,0,0.4);
}

.input-search input{
    padding-left: 3rem;
    margin-left: 50px;
}

.my-header article{
    display: flex;
    margin-left: 40px;
    gap:14px;
    width: 100%;
}

.my-header article .search{
    display: none;
}

.graphic-header{
    height: 663px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f2f0f1;
    justify-content: space-around;
    overflow-y: hidden;
}

.graphic-header h1{
    font-size: 64px;
    padding-top: 18px;
    margin-bottom: 0;
}

.graphic-header text p{
    font-size: 16px;
    opacity: 0.6;
}

.graphic-header .paragraph{
    width: 545px;
    font-size: 16px;
    opacity: 0.6;
}

.text button{
    border-style: none ;
    width:210px;
    height: 52px;
    color: white;
    font-size: 16px;
    border-radius: 62px;
    background-color: #000;
    margin-top: 20px;
}

.text span{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.numbers{
    display: flex;
    margin-top: 48px;
    gap: 32px;
}

.numbers p{
    font-size: 16px;
    opacity: 0.6;
}

.graphic-header .couple-img{
    scale:2.4;
    margin-top: 270px;
    margin-right: 150px;
}

.graphic-header .small-deco{
    top: 431px;
    left:730px;
    position: absolute;
    z-index: 3;
}

.small-deco img{
    width: 56px;
}

.graphic-header .deco{
    top: 220px;
    left:1255px;
    position: absolute;
    z-index: 3;
}

.brands{
    background-color: #000;
    height: 122px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:106px;
    justify-content: center;
    align-items: center;
}

.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products h1{
    font-size: 48px;
    margin: 70px;
}

.products .clothes-cards{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.products .card{
    width:295px;
    height: 298px;
    background-color: #F0EEED;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    padding:10px
}

.card .product-img{
    display: flex;
    margin-top: -73px
}

.stars{
    display: flex;
    flex-direction: row;
    height: 17px;
    gap:7px;
    align-items: center;
}

.stars span{
    box-sizing: border-box;
    height: 17px;
}

.stars p{
    font-size: 14px;
    margin: 0 10px;
}

.product-info h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.product-info h3{
    font-size: 24px;
    margin-top:10px;
}

.product-info h3 span{
    margin-left: 10px;
}

.button-view{
    font-size: 16px;
    width: 218px;
    height: 52px;
    border-color: rgba(0,0,0,0.1);
    border-radius: 62px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.button-view p{
    margin: 0;
}

.separator{
    margin-left: 100px;
}

.browse-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 40px;
    max-width:1239px;
    height: 866px;
    justify-self: center;
    padding: 0 80px 0px 80px;
}

.browse-style h2{
    margin-top: 0;
    font-size: 48px;
}

.dress-style{
    display: grid;
    grid-template-columns: 407px 1fr 407px;
    position: relative;
    gap: 20px;
    
}

.dress-style .style{
    height: 289px;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
}

.dress-style .style h3{
    position: absolute;
    font-size: 36px;
    margin: 20px;
    z-index: 1;
}

.dress-style div:first-child{
    grid-column-start:1;
}

.dress-style div:nth-child(2){
    grid-column-start: span 2;
    width: 684px;
}

.dress-style div:nth-child(3){
    grid-column-start: span 2;
    width: 684px;
}

.style img{
    position: relative;
}

.dress-style .style:first-child img{
    transform: rotateY(180deg);
    top: -53px;
    left: -348px;
    scale: 1.5;
}

.dress-style .style:nth-child(2) img{
    top: -1px;
    left: 202px;
    scale: 1.5;    
}

.dress-style .style:nth-child(3) img{
    top: -174px;
    left: -5px;
}

.dress-style .style:last-child img{
    top: -367px;
    left: -89px;
    scale: 0.6;  
}

.happy-customers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
    overflow-x: hidden;
}

.happy-customers h1{
    font-size: 48px;
    margin-left: 100px;
    display: flex;
    width:1259px;
    justify-content: space-between;
}

.happy-customers section{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 1440px;
}

.happy-customers section .opinion{
    box-sizing: border-box;
    height: 240px;
    width: 400px;
    border: solid 1px;
    border-color: rgba(0,0,0,0.1);
    border-radius: 20px;
    padding:28px 32px;
}

.happy-customers section .opinion:first-child{
    position: absolute;
    left: -320px;
    filter:blur(1.5px)
}

.happy-customers section .opinion:nth-child(2){
    margin-left: 100px;
}

.happy-customers section .opinion:last-child{
    position: absolute;
    left: 1360px;
    filter:blur(1.5px)
}

.comment h3{
    font-size: 20px;
}

.comment p{
    font-size: 16px; 
}





footer{
    height: 499px;
    background-color:#F0F0F0 ;
    display: flex;
    padding-top: 140px;
    justify-content: space-between
}

footer .store{
    display: flex;
    flex-direction: column;
    width: 248px;
    margin-left: 100px;
    
}

.store h2{
    font-size: 33.45px;
    margin: 0;
}

footer .store p{
    font-size: 14px;
}

footer .details{
    display: flex;
    flex-direction: column;
    gap:26px;
    color: rgba(0,0,0,0.6);
}

footer .details:last-child{
    margin-right: 100px;
}

footer .details ul{
    list-style: none;
    padding-left: 0;
}

footer .details li{
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 26px;
    
}

.details h3{
    margin: 0;
}

@media (max-width:768px){

    .sign-up{
        height: 34px;
        font-size: 12px;
    }

    .home-title{
        font-family: "Lilita One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 25.2px;
        margin-left: 20px;
    }

    .my-header .burger-menu{
        width: 36px;
        height: 60px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;
    }

    .my-header{
        padding-left: 20px;
        height: 64px;
        display: flex;
        width:80%;
        align-items: center;
    }

    .my-nav{
        display: none;
    }

    .search-bar{
        display: none;
    }

    .my-header article .search{
        display: block;
        margin-left: 40px;
    }

    .graphic-header{
        width: 390px;
        padding: 16px;
        flex-direction: column;
        height: 853px;
        position: relative;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .graphic-header .text{
        z-index: 2;
    }

    .graphic-header h1{
        font-size: 36px;
        margin-top: 0;
        padding-top: 16px;
        margin-bottom: 5px;
        line-height: 34px;
    }

    .graphic-header .paragraph{
        width: 358px;
        line-height: 20px;
        font-size: 14px;
        margin-top: 12px;
    }

    .graphic-header p{
        margin: 0px;
    }

    .text button{
        width:358px;
        margin-top: 20px;
        box-sizing: border-box;
        padding: auto;
    }

    .text span{
        font-size: 24px;
    }

    .numbers{
        display: flex;
        flex-wrap: wrap;
        column-gap:20px;
        row-gap: 5px;
        justify-content: center;
        margin-top: 25px;
    }

    .numbers p{
        font-size: 12px;
    }

    .numbers .line1 img{
        height: 52px;
    }

    .numbers .line2{
        display: none;
    }

    .graphic-header .couple-img{
        margin-top: 35px;
        margin-right: 0px;
        scale:1.3;
    }  
    
    .couple-img{
        max-width: 390px;
    }

    .graphic-header .small-deco{
        top: 535px;
        left:24px;
        scale: 0.7858;
        z-index: 3;
    }

    .graphic-header .deco{
        top: 431px;
        left: 281px;
        scale: 0.7308;
        z-index: 3;
    }

    .brands{
        height: 146px;
        flex-wrap: wrap;
        gap:10px;
        row-gap: 1px;
        justify-content: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .brands span{
        display: flex;
        max-width: 33%;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 1px;
    }

    .brands span:nth-child(4){
        min-width: 150px;
    }
    .brands span:nth-child(5){
        min-width: 160px;
    }

    .brands img{
        scale: 0.7;
        
    }


}